<div class="p-4 max-w-xl mx-auto">
  <div class="flex justify-between">
    <span class="flex gap-2">
      <h1 class="text-2xl font-bold mb-4">Port Killer</h1>
      <ng-icon hlm name="lucideCircleOff" size="lg" />
    </span>

    <app-theme-toggle />
  </div>

  <input
    class="w-80"
    hlmInput
    type="number"
    placeholder="Enter port"
    (input)="port.set($any($event.target).value)"
  />

  <div class="flex mt-2 gap-2">
    <button hlmBtn (click)="scan()">Scan</button>

    <button hlmBtn variant="destructive" (click)="killAllDevPorts()">Kill all dev ports</button>
  </div>

  <div class="mt-4">
    <h2 class="font-semibold">Quick ports</h2>
    <div class="flex gap-2 mt-2">
      @for (p of commonPorts(); track $index) {
        <button hlmBtn variant="outline" (click)="scan(p)">
          {{ p }}
        </button>
      }
    </div>
  </div>

  @if (processes().length) {
    <pre class="mt-6 mb-2 p-4 bg-accent rounded border overflow-x-auto text-sm">{{
      processesJson()
    }}</pre>

    <button hlmBtn variant="destructive" (click)="killSelected()">Kill processes</button>
  }
</div>

<hlm-toaster />
